[submodule "CryptopiaApi-Csharp"]
	path = CryptopiaApi-Csharp
	url = https://github.com/CryptopiaNZ/CryptopiaApi-Csharp.git
	branch = master
[submodule "Binance.API.Csharp.Client"]
	path = Binance.API.Csharp.Client
	url = https://github.com/morpheums/Binance.API.Csharp.Client.git
	branch = master
[submodule "HardlyCommon"]
	path = HardlyCommon
	url = https://github.com/hardlydifficult/HardlyCommon
	branch = master
