[submodule "Binance.API.Csharp.Client"]
	path = Binance.API.Csharp.Client
	url = https://github.com/morpheums/Binance.API.Csharp.Client.git
	branch = master
[submodule "HardlyCommon"]
	path = HardlyCommon
	url = https://github.com/hardlydifficult/HardlyCommon
	branch = master
[submodule "CryptopiaApi-Csharp"]
	path = CryptopiaApi-Csharp
	url = https://github.com/hardlydifficult/CryptopiaApi-Csharp.git
	branch = master
[submodule "HardlyDifficult.Google.Sheets"]
	path = HardlyDifficult.Google.Sheets
	url = https://github.com/hardlydifficult/HardlyDifficult.Google.Sheets.git
	branch = master
