[submodule "Binance.API.Csharp.Client"]
	path = Binance.API.Csharp.Client
	url = https://github.com/morpheums/Binance.API.Csharp.Client.git
	branch = master
[submodule "CryptopiaApi-Csharp"]
	path = CryptopiaApi-Csharp
	url = https://github.com/hardlydifficult/CryptopiaApi-Csharp.git
	branch = master
[submodule "Hardly.Google.Sheets"]
	path = Hardly.Google.Sheets
	url = https://github.com/hardlydifficult/Hardly.Google.Sheets.git
	branch = master
[submodule "Hardly.Common"]
	path = Hardly.Common
	url = https://github.com/hardlydifficult/Hardly.Common.git
	branch = master
